body {
  text-align: center;
  font-family: sans-serif;
}

p {
  text-align: left;
}
.container-3 {
  margin: auto;
  padding: 15px;
  background-color: #ef8172;
}

.container-1 {
  padding : 30px;
}

table,th,tr {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}
